.resultado {
    justify-content: center;
    text-align: justify;
    background-color: #ffff;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: 85vw;
    height: 25vh;
    overflow-y: scroll;
}

.resultado:hover {
    border: none;
}

.resultado::-webkit-scrollbar {
    width: 12px;
}

.resultado::-webkit-scrollbar-track {
    background: transparent;
}

.resultado::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}