.resultado {
    justify-content: center;
    text-align: justify;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 40vw;
    height: 25vh;
}

.resultado:hover {
    border: none;
}
