@font-face {
  font-family: 'BRSenoma';
  src: url(../public/Fonts/BRSonoma-ExtraLight.otf) format('otf'),;
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #ABBFFF;
  font-family: 'BRSenoma', sans-serif;
}

.App {
  text-align: center;
}

h1 {
  color: #ffff;
  font-weight: lighter;
  padding: 0;
  margin: 5px;
}

textarea {
  justify-content: center;
  text-align: justify;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 0;
  margin-bottom: 5px;
  width: 90vw;
  height: 35vh;
  overflow-y: 'auto';
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}